<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
      <behaviors>
        <serviceBehaviors>
          <behavior name="DonBeh">
            <serviceMetadata/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
        <services>
            <service name="CalcWCF.CalculatorService" behaviorConfiguration="DonBeh">
                <endpoint address="net.tcp://localhost:9001/myservice" binding="netTcpBinding"
                    bindingConfiguration="" contract="CalcWCF.ICalcutorService" />
              <endpoint address="net.tcp://localhost:9001/myservice/mex" binding="mexTcpBinding"
                    bindingConfiguration="" contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>